@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/img/heavenly.webp" alt="heavenly" />
    <p class="welcome">
        Celestial Films is a site dedicated only to the most righteous of films. If it was not produced by The Church of Jesus Christ Of Latter Day Saints,
        it will not be on this site.  <br />

        <br />
        Disclaimer: Watching movies that do not appear on this site could very well send you straight to outer darkness.
       <br />
        Choose your entertainment wisely.
    </p>
</div>
