@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Celestial Films is a site dedicated only to the most righteous of films. If it was not produced by The Church of Jesus Christ Of Latter Day Saints,
        it will not be on this site. And if it is not on this site, chances are you should not be watching it... 

        Disclaimer: Watching movies that do not appear on this site could very well send you straight to outer darkness.
        Choose your entertainment wisely.
    </p>
</div>
